.cards{
    margin: 70px auto;
    width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}
.card img{
    width: 95%;
    height: 400px;
    border-radius: 20px;
    display: block;
    gap: 10px;
}

.card{
    flex-basis: 31%; 
    position: relative;
}

.book{
    position: absolute;
    top: 0;
    left: 0;
    right: 18px;
    bottom: 0;
    border-radius: 20px;
    background: rgba(175, 187, 227, 0.53);
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
color:black;
cursor: pointer;
opacity: 0; 
 padding-top: 70%;
transition: 0.3s;
}

.book img{
width: 90px;
height: 100px;
margin-bottom: 5px;
}

.card:hover .book{
    opacity: 2;
    padding-top: 10px;
}

.book p{
    font-size: 18px;
    text-align: center;
font-weight: 200;
text-transform: capitalize;
color: black;
}

/* ---------------media query ---------------*/

@media (max-width:650px) {
    .cards{
        flex-direction: column;
    }
.card{
    flex-basis: 100%;
    margin: 20px;
}
}