.campus{
    text-align: center;
    margin: 80px auto;
    width: 90%;
}
.g{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px; 
}
.g img{
    width: 23%;
    border-radius: 10px;
}
.btn.dark-btn{
    margin-top: -20px;
}
.btn.dark-btn:hover{
background-color: black;
}

/* ---------------media query ---------------*/

@media (max-width: 800px){
    .g{
        flex-wrap: wrap;
    }
    .g  img{
        width: 48%;
        margin-bottom: 25px;

    }
}