
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 body{
  background:white;

 }

 a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  line-height: 1;
 }
 .btn{
border-radius: 30px;
cursor: pointer;
border: 0;
outline: 0;

}
.btn.dark-btn{
  background:#212ea0;
  color: white;
}

/* ---------------- media query ------------- */

@media (max-width:1200px) {
  .container{
    padding-left: 5%;
padding-right: 5%;
  }
  .btn{
    padding: 14px 22px;
  }
}